.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: space-between;
    margin-bottom: 0;
}

.boxUrl {
    margin-left: 23.4%;
    height: 90px;
    display: flex;
    align-items: center;
    align-content: inherit;
    background-color: none;
}

.divisor {
    color: lightgray;
    font-size: 8px;
}


.colorBlue {
    color: blue;
    font-size: 16px;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}


.colorBrown {
    color: brown;
    font-size: 16px;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.colorGreen {
    color: green;
    font-size: 16px;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.colorOrange {
    color: orange;
    font-size: 16px;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.colorDarkBlue {
    color: darkblue;
    font-size: 16px;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.boxRight {
    display: flex;
    width: 20%;
    margin-left: 30%;
    align-items: center;
}

.options{
    color: gray;
    font-size: 8pt;
    margin-left: 10px;
    margin-right: 10px;
}

.optionsButton {
    margin-left: 4px;
    padding: 0;
    border: none;
    border-radius: 4px;
}


.navBar {
    background-color: crimson;
    width: 100%;
    height: 60px;
    margin: 0;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 24%;
}

.fakeG1 {
    color: white;
    font-size: 28pt;
    font-weight: 600;
    margin: 0;
    margin-bottom: 6px;
}

.input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

.inputSearch {
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    margin-left: 4px;
    background-color: crimson;
    border: none;
    border-radius: 4px;
}

.inputSearchText {
    color: white;
    cursor: pointer;
}

.contentMain {
    margin-top: 2%;
    margin-left: 26.4%;
    margin-right: 20%;
    height: 700px;
    border-radius: 8px;
}

.topic {
    font-size: 34pt;
    color: gray;
}

.news {
    width: 800px;
    height: 300px;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid lightgray;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    display: flex;
}

.newsContent {
    width: 400px;
    margin-left: 4%;
}

.imageContent {
    width: 36%;
    height: 60px;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 2%;
}

.titleNews {
    width: 440px;
    margin: 4%;
    margin-left: 1%;
    margin-right: 1%;
    color: crimson;
    font-size: 18pt;
    font-weight: 700;
}

.author {
    margin: 0;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 4px;
    color: gray;
    font-weight: 600;
    font-size: 10pt;
}

.dateNews {
    margin: 0;
    margin-right: 2%;
    text-align: left;
    color: crimson;
    font-size: 10pt;
}

.contentNews {
    margin-left: 1%;
    margin-right: 1%;
    color: black;
    font-size: 10pt;
}

.readMore {
    text-align: right;
    cursor: pointer;
    color: crimson;
}
